.itinerario-img{
  width: 85%;    
  height: auto;
}

.itinerario-titulo{
    font-family: 'Qarinthen';
    color: #2D679C;
    text-align: center;
    font-size: 2em;
    margin: 20px 0px 15px;
}

.separador-img-container{
    display: flex;
  justify-content: center;
  margin-top: 20px;
}

.separador-grande{
   width: 100%;
  max-width: 350px;
  height: auto;
}