.itinerario-img{
  width: 85%;    
  height: auto;
}

.itinerario-titulo{
    font-family: 'Qarinthen';
    color: #2D679C;
    text-align: center;
    font-size: 2em;
    margin: 20px 0px 15px;
}

.separador-grande{
    width: 90%;
    margin: 20px 0;
}