.regalo-titulo {
  text-align: center;
  margin: 20px 0 15px;
  color: #2D679C;
  font-size: 2em;
}

.regalo-img-container {
  display: flex;
  justify-content: center;
}

.regalo-img {
  max-width: 120px;
  width: 20%;
  height: auto;
}

.regalo-texto {
  text-align: center;
  line-height: 1.2;
  font-size: 1rem;
  color: #91ACC6;
  font-family: 'Cinzel', serif;
  margin: 10px 0 0;
}

.regalo-separador-container {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.cbu-card {
  margin: 20px auto;
  padding: 10px 20px;
  max-width: 320px;
  border: 1px solid rgba(45, 103, 156, 0.4);
  border-radius: 14px;
  font-family: 'Cinzel', serif;
  color: #2D679C;
}

.dato-copiable {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 12px 0;
  gap: 8px;

}

.dato-titulo {
  font-weight: bold;
  min-width: 50px;
}

.icono-copiar {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: 
    transform 0.25s ease,
    opacity 0.25s ease;
  opacity: 0.7;
}

.icono-copiar:hover {
  opacity: 1;
}

.icono-copiar.copiado {
  transform: scale(1.25);
  opacity: 1;
}



.dato-valor {
  text-align: center;
  font-size: 1em;
}


.cuenta-titulo {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 8px;
  color: #2D679C;
}

.regalo-aclaracion {
  text-align: center;
  font-size: 2em;
  color: #2D679C;
  margin: 18px 0 10px;
}


.dato-etiqueta{
  font-size: 1em;
  color: #2D679C;
  font-weight: bold;
}
