
.texto-principal{
    font-family: 'Cinzel', serif;
    color: #2D679C;
    font-size: 1em;
    margin:20px 0;
    line-height: 1.2em;
}

.circulo-container {
  position: relative;
  display: inline-block; 
}


.circulo-img {
  width: 70%;
  max-width: 300px;
  margin: 0 auto; 
  height: auto;
  display: block;
  border-radius: 50%;
  border: 1px solid #000;
  
}


.deco-img {
  position: absolute;
  bottom: -10px;      
  left: 10px;        
  width: 110px;  
  transform: rotate(-60deg);
  pointer-events: none; 
}

.separador-container{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.separador-1 {
  width: 100%;
  max-width: 350px;
  height: auto;
}