
p{
    font-family: 'Cinzel', serif;
    color: #2D679C;
    font-size: 1em;
    margin:20px 0;
    line-height: 1.2em;
}

.circulo-container {
  position: relative;
  display: inline-block; 
}


.circulo-img {
  width: 70%;
  max-width: 300px;
  margin: 0 auto; 
  height: auto;
  display: block;
}


.deco-img {
  position: absolute;
  bottom: -10px;      
  left: 10px;        
  width: 110px;  
  transform: rotate(-60deg);
  pointer-events: none; 
}

.separador-1 {
  width: 85%;  
  height: auto;
  display: block;
  margin: 0px auto;  
}