.confirmacion-titulo {
    font-family: 'Qarinthen';
    color: #2D679C;
    text-align: center;
    margin: 20px 0 10px; 
    font-size: 2em;
}


.confirmacion-container {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin: 0 0 20px;
}


.contacto-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    text-align: center;
}


.contacto-item p {
    font-family: 'Cinzel', serif;
    color: #91ACC6;
    font-size: 1em;
    margin: 0;
}


.whatsapp-logo {
    width: 50px;
    height: 50px;
    object-fit: contain;
}


.boton-ubicacion-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.boton-ubicacion {
    background-color: transparent;
    color: #2D679C;
    padding: 10px 20px;
    border-radius: 8px;
    font-family: 'Cinzel', serif;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}

.boton-ubicacion:hover {
    background-color: #234e79;
}