header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  justify-items: center;
}

header img {
  width: 110px;     
  height: 110px;    
  object-fit: contain; 
  display: block;
}

.iniciales-container{
    margin: 50px 0 20px;
}

