.header {
  position: relative;
  width: 100%;
  height: 230px;   /* 💥 AJUSTE CLAVE */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
}

/* Imagen del centro */
.iniciales-img {
  width: 18vw;
  max-width: 160px;
  min-width: 110px;
  height: auto;
  margin-top: 40px;
}
/* Esquinas */
.esquina {
  position: absolute;
  width: 20vw;            /* Escala con ancho de pantalla */
  max-width: 200px;       /* Pero NO pasa este tamaño */
  min-width: 110px;       /* Para que no se haga demasiado chiquita */
  height: auto;
  object-fit: contain;
  z-index: 1;
}

/* Ubicación */
.esquina-izq {
  top: 0;
  left: 0;
}

.esquina-der {
  top: 0;
  right: 0;
}