@font-face {
    font-family: 'Hearth Stone';
    src: url('../../assets/fonts/Hearth\ Stone.otf') ;
}

.footer {
  text-align: center;
}

.texto-final {
  color: #2D679C;
  margin-bottom: 15px;
  font-size: 2rem;
  font-family: 'Qarinthen';
}

.texto-agradecimientos {
  font-size: 2.3rem;
  margin: 0;
  font-family: 'Hearth Stone', cursive;
  color: #2D679C;
}

.footer-img-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.footer-img {
  width: 100%;
  max-width: 350px;
  height: auto;
}