@font-face {
     font-family: 'Qarinthen';
    src: url(/src/assets/fonts/Qarinthen.otf);
}

.img-fecha {
  width: 70%;    
  height: auto;   
  display: block;
  margin: 0 auto 24px;  
}

h2{
    font-family: 'Qarinthen';
    color: #2D679C;
    font-size: 2em;
}

.separador-chico {
  width: 50%;       
  max-width: 200px;
  height: auto;
  display: block;
  margin: 0px auto 0 auto; 
}