@font-face {
     font-family: 'Qarinthen';
    src: url(/src/assets/fonts/Qarinthen.otf);
}

.img-fecha {
  width: 65%;    
  height: auto;   
  display: block;
  margin: 0 auto;  
}

h2{
    font-family: 'Qarinthen';
    color: #2D679C;
}

.separador-chico {
  width: 40%;       
  max-width: 180px;
  height: auto;
  display: block;
  margin: 0px auto 0 auto; 
}